<launch>
    <include file="$(find open_mower)/launch/include/_comms.launch"/>
    <include file="$(find open_mower)/launch/include/_localization.launch"/>
    <include file="$(find open_mower)/launch/include/_record.launch">
        <arg name="prefix" value="gamepad_gps"/>
    </include>

    <!-- Configuration du gamepad pour la téléopération -->
    <node name="joy" pkg="joy" type="joy_node" required="true">
        <param name="~autorepeat_rate" value="10.0"/>
        <param name="~coalesce_interval" value="0.06"/>
    </node>

    <node name="joy_teleop" pkg="teleop_twist_joy" type="teleop_node" required="true">
        <!-- Remappage pour envoyer les commandes de vitesse via MAVROS -->
        <remap from="cmd_vel" to="/mavros/setpoint_velocity/cmd_vel"/>
        <param name="~scale_linear" value="0.5"/>
        <param name="~scale_angular" value="1.5"/>
        <param name="~scale_linear_turbo" value="1.0"/>
        <param name="~scale_angular_turbo" value="3.0"/>
        <param name="~enable_turbo_button" value="4"/>
    </node>

    <!-- Nœud MAVROS pour la communication MAVLink, incluant les données GPS et commandes de mouvement -->
    <node pkg="mavros" type="node" name="mavros" output="screen">
        <param name="fcu_url" value="udp://:14540@localhost:14557" /> <!-- Adapter selon votre configuration FCU -->
        <param name="gcs_url" value="" />
        <param name="target_system_id" value="1" />
        <param name="target_component_id" value="1" />
        
        <!-- Plugins MAVROS pour GPS et commande de mouvement -->
        <param name="pluginlists" value="['gps', 'setpoint_velocity']"/>
    </node>
</launch>
