<launch>
    <arg name="prefix" default="record"/>

    <!-- Enregistre les topics basiques, y compris les topics MAVROS pour le débogage -->
    <node if="$(optenv OM_ENABLE_RECORDING False)" pkg="rosbag" type="record" name="rosbag_record_diag"
          args="record -o /$(env HOME)/$(arg prefix)
/clock
/time_reference
/tf
/tf_static
/joy
/cmd_vel
/mower/status
/mower/imu
/imu/data_raw
/imu/mag
/ublox/navrelposned
/ublox/fix
/mavros/state
/mavros/local_position/pose
/mavros/global_position/global
/mavros/imu/data
/mavros/rc/in
/mavros/battery
/mavros/gps_rtk/send_rtcm
" />

    <!-- Enregistrement complet de tous les topics si OM_ENABLE_RECORDING_ALL est activé -->
    <node if="$(optenv OM_ENABLE_RECORDING_ALL False)" pkg="rosbag" type="record" name="rosbag_record_diag_all"
          args="record -o /$(env HOME)/all_$(arg prefix) -a" />
</launch>
